In [ ]:
x=map("hey","shweta")
next(3)

TypeError: 'int' object is not an iterator

In [ ]:
def func(data):
  return"mr "+data
newlist=["parmeet","aman","askhay"]
for i in newlist:
  print(func(i))
out_map=map(func,newlist)
next(out_map)

mr parmeet
mr aman
mr askhay

'mr parmeet'

In [ ]:
out_map2=map(lambda data: "mrs " +data, newlist)
print(next(out_map2))

mrs parmeet

In [ ]:
newlist=["parmeet","aman","askhay"]
out_map2=tuple(map(lambda data: "mrs " +data, newlist))
print(out_map2)

('mrs parmeet', 'mrs aman', 'mrs askhay')

In [ ]:
newlist=[10,14,19,21,20]
out_map2=list(map(lambda data: data%2==0, newlist))
print(out_map2)

[True, True, False, False, True]

In [ ]:
newlist=[10,14,19,21,20]
out_map2 = list(filter(lambda data: data%2==0, newlist))
print(out_map2)

[10, 14, 20]

In [ ]:
#expection handlig
print("1 line")
print(z)    #this is a expection
print("2 line")

1 line

NameError: name 'z' is not defined

In [ ]:
try:
  print("1 line")
  print(z)
  print("2 line")
except:
  print("error handle")

1 line
error handle

In [ ]:
try:
  print("1 line")
  print(z)
  print(a/10)
  print("2 line")
except Exception as e:
  print("error handle",e)

1 line
error handle name 'z' is not defined

In [ ]:
try:
  print("1 line")
  print(z)
  print(a/10)
  print("2 line")
except (NameError,IndexError) as e:
  print("error handle",e)

1 line
error handle name 'z' is not defined

In [ ]:
try:
  print("1 line")
  print("abc"[6])
  print(a/10)
  print("2 line")
except (NameError,IndexError) as e:
  print("error handle",e)

1 line
error handle string index out of range

In [ ]:
try:
  print("1 line")
  try:
   print(z)
  except:
    print("Inner exception block")

  print("2 line")
except (NameError,IndexError) as e:
  print("error handle",e)

1 line
Inner exception block
2 line

In [ ]:
try:
  print("1 line")
  print(z)
  print("2 line")
except:
  print("error handle")
else:
  print("else block")

1 line
error handle

In [ ]:
try:
  print("1 line")
  print("2 line")
except:
  print("error handle")
else:
  print("else block")

1 line
2 line
else block

In [ ]:
try:
  print("1 line")
  print(z)
  print("2 line")
except:
  print("error handle")
finally:
  print("final block")

1 line
error handle
final block

In [ ]:
class housebuilding:
  color='white'
  price=500000
tushar_house=housebuilding()
print(tushar_house.color)
h2=housebuilding()
print(h2.color,h2.price)
print(housebuilding.price)
h2.price=600000
print(h2.price)
housebuilding.price=700000
h3=housebuilding()
print(h3.price)
print(h2.price)

white
white 500000
500000
600000
700000
600000

In [ ]:
class house:

    color='white'
    price=500000

    def info(self):
      print("house has price",self.price,house.price)
tushar_house=house()
tushar_house.info()
h2=house()
h2.info()
house.price=600000
h2.info()

house has price 500000 500000
house has price 500000 500000
house has price 600000 600000

In [ ]:
class studentdetail:
    student_name="shweta"
    student_id=223445
    student_fees=50000
    student_email="shweta@gmail.com"
    def info(self):
     print("student name",self.student_name)
     print("student id",self.student_id)
     print("student fee",self.student_fees)
     print("student email",self.student_email)
shweta=studentdetail()
shweta.info()

student name shweta
student id 223445
student fee 50000
student email shweta@gmail.com

In [ ]:
class housebuilding:
  def __init__(self):
    print("constructor calling",self)
h1=housebuilding()
print(h1)
h2=housebuilding()
print(h2)

constructor calling <__main__.housebuilding object at 0x7c372e804740>
<__main__.housebuilding object at 0x7c372e804740>
constructor calling <__main__.housebuilding object at 0x7c3721df0e30>
<__main__.housebuilding object at 0x7c3721df0e30>

In [ ]:
class housebuilding:
  def __init__(self,x):
    print("constructor calling ::",x)
housebuilding("yellow")

constructor calling :: yellow

In [ ]:
class housebuilding:
  def __init__(self,a):
    self.a=a           # self.color is instance variable.
h1=housebuilding("black")
print(h1.a)
h2=housebuilding("green")
print(h2.a)

black
green

In [ ]:
class housebuilding:
  def __init__(self,color,price):
    self.color=color
    self.price=price
h3=housebuilding("white", 60000)
print(h3.color,h3.price)

white 60000

In [ ]:
class A:
  count=0
  def __init__(self):
    A.count+=1
a1=A()
print("value =",a1.count)
a2=A()
print("value =",a2.count)
a3=A()
print("value =",a3.count)

value = 1
value = 2
value = 3

In [ ]:
class UberCustomer:
  Company="UBER PRIVATE LIMITED"
  def __init__(self,name,wallet):
    self.name=name
    self.wallet=wallet
  def info(self):
    print("information of uber is = '",self.name,"' '",self.wallet,"'")
Uc1=UberCustomer('naina',766)
Uc1.info()

class UberDriver(UberCustomer):
  def __init__(self,name,wallet):
    super().__init__(name,wallet)
  def info2(self):
    super().info()
Ud1=UberDriver('driver shyam',776)
print(Ud1.Company)
Ud1.info2()

information of uber is = ' naina ' ' 766 '
UBER PRIVATE LIMITED
information of uber is = ' driver shyam ' ' 776 '

In [ ]:
class A:
  num=300
  def infoa(self):
    print("A class has data",self.num)
class B(A):
  amount=500
  def infob(self):
    print("B class has data",self.amount,self.num)
    self.infoa()
b1=B()
b1.infob() #object.info()

In [ ]:
class A:
  x='name1'
class B(A):
  y='name2'
class C(B):
  z='name3'
a=A()
print(a.x)
b=B()
print(b.x)
c=C()
print(c.z)

name1
name1
name3

In [ ]:
class A:

  def __init__(self):
    print("hello")
class B(A):
  def __init__(self):
    super().__init__()
class C(A):
  def __init__(self):
    super().__init__()

obj1=A()
obj2=B()
obj3=C()

hello
hello
hello

In [ ]:
class UncleA:
  x='shyam'

class UncleB:
  y='shivam'

class ChildC(UncleA,UncleB):
  z=500
  p=1000

a=UncleA()
print(a.x)
b=UncleB()
print(b.y)
c=ChildC()
print("give a money ::\n","UncleA =",a.x,c.z,"\n","UncleB =",b.y,c.p)

shyam
shivam
give a money ::
 UncleA = shyam 500
 UncleB = shivam 1000

In [ ]:
class UncleA:
  x='shyam'
  def infoa(self):
    print("A class has data",self.x)

class UncleB:
  y='shivam'
  def infob(self):
    print("A class has data",self.y)

class ChildC(UncleA,UncleB):
  z=500
  p=1000

a=UncleA()
print(a.x)
b=UncleB()
print(b.y)
c=ChildC()
print("give a money ::\n","UncleA =",a.x,c.z,"\n","UncleB =",b.y,c.p)

In [ ]:
class UncleA:
  x='shyam'
  def infoa(self):
    print("A class has data",self.x)

class UncleB:
  y='shivam'
  def infob(self):
    print("A class has data",self.y)
class ChildC(UncleA,UncleB):
  z=500
  p=1000
c=ChildC()
a=UncleA()
print(c.x)
b=UncleB()
print(c.y)
c.infoa()
c.infob()
print("give a money ::\n","UncleA =",a.x,c.z,"\n","UncleB =",b.y,c.p)

shyam
shivam
A class has data shyam
A class has data shivam
give a money ::
 UncleA = shyam 500
 UncleB = shivam 1000

In [ ]:
class Home:
    def info(self):
        print("hey home class has white color")
class userHome:
    pin=1024
    def info(self):
        print("hey user home class has yellow color")
UH1=userHome()
UH1.info()

hey user home class has yellow color

In [ ]:
class testclass:
  company="regex"     #class variable
  def __init__(self,x,y):  #class variable
    self.x=x
    self.y=y          #self.x in instance variable
  def __add__(self,para2):
    print("calling this add function ",para2)
t1=testclass(12,14)
t2=testclass(10,12)
print("t2::",t2)

#t1.__add__(t2)
#self will have t1,para2 will have t2
# +=> __add__.>__gt__,__it__
#__func__=>dunder function
#t1+t2.t1.__add__t2

t2:: <__main__.testclass object at 0x7beadf3464b0>

In [ ]:
class A:
  _amount=300

In [ ]:
class B:
  print(A._amount)

In [ ]:
class C:
  __salary=500        # act as private variable

@property
def getinfo(self):
  return self.__salary    #property here is decorate = method into the utility function

#__var.=_class__var
c1=C()
c1._C__salary

500

In [ ]:
from abc import ABC,abstractmethod
#abc=> package,ABC=abstract base class
class RBIBANK(ABC):                #here rbi is abstract class which inherit the abstract base class
  def __init__(self,loanamount):
    self.loanamount=loanamount
  @abstractmethod
  def interestrate(self):
    pass
class SBIBANK(RBIBANK):
  def __init__(self,loanamount):
   super().__init__(loanamount)
sb1=SBIBANK(5000)
sb1.interestrate()

TypeError: Can't instantiate abstract class SBIBANK without an implementation for abstract method 'interestrate'

In [ ]:

class BankAccount(ABC):
  def __init__(self,accountno,accountname,balance):
    self.__balance=balance
    self.accountname=accountname
    self.accountno=accountno
  @property
  def getBalance(self):
    return self.__balance
  def deposite(self,amount):
    if(amount>0):
      self.__balance+=amount
    else:
      print("Amount is negative")
  @abstractmethod
  def interestbalance(self):
    pass

In [ ]:
class SavingAccount(BankAccount):
  def __init__(self, accountno, accountName, balance=0, interestRate=0.05):
    super().__init__(accountno, accountName, balance)
    self.interestRate=interestRate

  def info1(self):
    print(self.accountno, self.accountName, self.interestRate)

  def interestBalance(self):
    print("Inside", self.getBalance=self.getBalance * self.interestRate)

In [ ]:
s1=SavingAccount(10129203,"raj", interestRate=0.67)
s1.deposit(40)
s1.interestBalance()

NameError: name 'SavingAccount' is not defined