In [ ]:
for i in range(1,5):
    print("student",i)
    for j in range(1,4):
        print("subject",j)
    print("------")

student 1
subject 1
subject 2
subject 3
------
student 2
subject 1
subject 2
subject 3
------
student 3
subject 1
subject 2
subject 3
------
student 4
subject 1
subject 2
subject 3
------

In [ ]:
for i in range(1,5):
    print("student",i)
    for j in range(1,i+1):
        print("subject",j)
    print("------")

student 1
subject 1
------
student 2
subject 1
subject 2
------
student 3
subject 1
subject 2
subject 3
------
student 4
subject 1
subject 2
subject 3
subject 4
------

In [ ]:
for i in range(5,0,-1):
    print("student",i)
    for j in range(5,i-1,-1):
        print("subject",j)
    print("------")

student 5
subject 5
------
student 4
subject 5
subject 4
------
student 3
subject 5
subject 4
subject 3
------
student 2
subject 5
subject 4
subject 3
subject 2
------
student 1
subject 5
subject 4
subject 3
subject 2
subject 1
------

In [ ]:
for num in range(2,8):
  for i in range(1,11):
    print(num*i)

2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50
6
12
18
24
30
36
42
48
54
60
7
14
21
28
35
42
49
56
63
70

In [ ]:
num=0
total=0
for i in range(1,num+1):
 if(num%i==0):
  total=+1
  if (total>2):
   print("not prime",num)
  else:
   print("prime",num)

In [ ]:
for i in range(1,5):
    for j in range(1,5):
        print("*",end=" ")
    print()

* * * *
* * * *
* * * *
* * * *

In [ ]:
for i in range(1,5):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [ ]:
for i in range(1,5):
    for j in range(1,5-i+1):
        print("*",end=" ")
    print()

* * * *
* * *
* *
*

In [ ]:
for i in range(1,5):
    for j in range(1,5):
        print(i,end=" ")
    print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [ ]:
for i in range(6,10):
    for j in range(1,5):
        print(i,end=" ")
    print()

6 6 6 6
7 7 7 7
8 8 8 8
9 9 9 9

In [ ]:
for i in range(7,4,-1):
    for j in range(1,4):
        print(i,end=" ")
    print()

7 7 7
6 6 6
5 5 5

In [ ]:
for i in range(1,5):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

In [ ]:
count=3
for i in range(1,4):
    for j in range(1,i+1):
      count+=1
      print(count,end=" ")
    print()

4
5 6
7 8 9

In [ ]:
for i in range(1,5):
    for j in range(1,5-i+1):
        print(j,end=" ")
    print()

1 2 3 4
1 2 3
1 2
1

In [ ]:
count=0
for i in range(1,4):
    for j in range(1,i+1):
      if(j%2==0):
        count=+2
        print(count,end=" ")
    print()

2
2

In [ ]:
count=0
for i in range(1,4):
    for j in range(1,5-i+1):
      count+=1
      print(count,end=" ")
    print()

1 2 3 4
5 6 7
8 9

In [ ]:
count=0
for i in range(1,5):
    for j in range(1,i+1):
      count+=1
      print(count,end=" ")
    print()

1
2 3
4 5 6
7 8 9 10

In [ ]:
for i in range(1,5):
    for j in range(1,5-i):
      print("-",end=" ")
    for j in range(1,i+1):
      print("*",end=" ")
    print()

- - - *
- - * *
- * * *
* * * *

In [ ]:
for i in range(1,5):
    for j in range(1,5-i):
      print("*",end=" ")
    for j in range(1,i+1):
      print(j,end=" ")
    print()

* * * 1
* * 1 2
* 1 2 3
1 2 3 4

In [ ]:
for i in range(1,5):
    for j in range(1,i+1):
      print(" ",end=" ")
    for j in range(1,5-i+1):
      print("*",end=" ")
    print()

  * * * *
    * * *
      * *
        *

In [ ]:
n=4
for i in range(n,0,-1):
  print("*" * i)

****
***
**
*

In [ ]:
n=6
for i in range(0,n):
  print("*" * i)

*
**
***
****
*****

In [ ]:
for i in range(1,7):
    for j in range(1,i+1):
      if(j==1 or i==6 or i==j):
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()

*
* *
*   *
*     *
*       *
* * * * * *

In [ ]:
for i in range(69,64,-1):
    for j in range(69,i-1,-1):
      print("",end=" ")
    for j in range(70,63+1,-1):
      print(chr(j),end=" ")
    print()

 F E D C B A
  F E D C B A
   F E D C B A
    F E D C B A
     F E D C B A

In [ ]:
for i in range(6,0,-1):
    for j in range(6,0,-1):
      if(j==1 or i==6 or i==j):
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()

* * * * * *
  *       *
    *     *
      *   *
        * *
          *

In [ ]:
for i in range(6,0,-1):
    for j in range(1,i+1):
      if(j==1 or i==6 or i==j):
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()

* * * * * *
*       *
*     *
*   *
* *
*

In [ ]:
for i in range(1,7):
    for j in range(6,0,-1):
      if(j==1 or i==6 or i==j):
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()

          *
        * *
      *   *
    *     *
  *       *
* * * * * *

In [ ]:
for i in range(5,0,-1):
    for j in range(1,6-i):
      print(" ",end=" ")
    for j in range(1,i*2):
      print("*",end=" ")
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
x=0
for i in range(5,0,-1):
    for j in range(1,6-i):
      print("  ",end=" ")
    for j in range(1,i*2):
      x+=1
      print(x,end="    ")
    print()

1    2    3    4    5    6    7    8    9
   10    11    12    13    14    15    16
      17    18    19    20    21
         22    23    24
            25

In [ ]:
for i in range(1,6):
    for j in range(1,6-i):
      print(" ",end=" ")
    for j in range(1,i*2):
      print("*",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
for i in range(1,5+1):
    for j in range(5,0,-1):
      if(i==j or i==5):
        print("*",end=" ")
      else:
        print(" ",end=" ")
    for j in range(2,5+1):
        if(i==j or i==5):
         print("*",end=" ")
        else:
         print(" ",end=" ")
    print()

        *
      *   *
    *       *
  *           *
* * * * * * * * *

In [ ]:
for i in range(1,5):
    for j in range(1,5-i):
      print(" ",end=" ")
    for k in range(1,i*2):
      print("*",end=" ")
    print()

      *
    * * *
  * * * * *
* * * * * * *

In [ ]:
n=5
for i in range(n,0,-1):
    for j in range(1,6-i):
      print(" ",end="")
    for k in range(1,i+1):
      print(k,end=" ")
    print()

1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

In [ ]:
n=5
for i in range(n,0,-1):
    for j in range(1,6-i):
      print(" ",end="")
    for k in range(1,i+1):
      if(k==1 or i==5 or k==j-i+1 or k==j-i+4 or k==j-i+7):
       print(k,end=" ")
      else:
        print(" ",end=" ")
    print()

1 2 3 4 5
 1     4
  1   3
   1 2
    1

In [ ]:

for i in range(1,6):
  count=65
  for j in range(1,i):
      print(" ",end="")
  for k in range(1,6-i+1):
       print(chr(count),end=" ")
       count+=1
  print()

A B C D E
 A B C D
  A B C
   A B
    A

In [ ]:
for i in range(1,5+1):
    for j in range(5,0,-1):
      if(i==j or i==5):
        print(" ",end="")
      else:
        print("*",end=" ")
    for j in range(2,5+1):
        if(i==j or i==5):
         print(" ",end=" ")
        else:
         print("*",end=" ")
    print()

* * * *  * * * *
* * *  *   * * *
* *  * * *   * *
*  * * * * *   *

In [ ]:
mylist=[10,20,"shweta"]
print(type(mylist))
print(mylist[0],mylist[1],mylist[-3])

<class 'list'>
10 20 10

In [ ]:
mylist=[10,20,"shweta"]
print(type(mylist))
print(mylist)
mylist[0:2]=[6,7]
print("after updated:",mylist)

<class 'list'>
[10, 20, 'shweta']
after updated: [6, 7, 'shweta']

In [ ]:
mylist=[10,20,"shweta"]
print(mylist)
mylist.append(50)
mylist.extend("isha")
print(mylist)

[10, 20, 'shweta']
[10, 20, 'shweta', 50, 'i', 's', 'h', 'a']

In [ ]:
mylist=[10,20,"shweta",100]
print(mylist)
x=mylist.pop()
print(mylist, x)

[10, 20, 'shweta', 100]
[10, 20, 'shweta'] 100

In [ ]:
mylist=[10,20,60,100]
print(mylist)
mylist.reverse()
print(mylist)
mylist.count(20)
print(mylist)
mylist.sort()
print(mylist)

[10, 20, 60, 100]
[100, 60, 20, 10]
[100, 60, 20, 10]
[10, 20, 60, 100]

In [ ]:
mylist=[10,20,60,100]
help(mylist)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, index, /)
 |      Return self[index].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
mylist=[10,20,60,100]
for i in range(0,len(mylist)):
  curr=mylist[i]
  print(i,curr)

0 10
1 20
2 60
3 100

In [ ]:
mylist=[10,20,60,100]
newlist=[]
for i in range(0,len(mylist)):
  curr=mylist[i]
  if(curr>0):
    newlist.append(curr)
  print(newlist)

[10]
[10, 20]
[10, 20, 60]
[10, 20, 60, 100]

In [ ]:
mylist=[10,20,60,100,1,7,11]
newlist=[]
for num in mylist:
  count = 0
  if num > 1:
    for i in range(2, int(num**0.5) + 1):
      if (num % i) == 0:
        count += 1
        break # If a divisor is found, it's not prime
    if count == 0:
      print("prime", num)
    else:
      print("not prime", num)
  else:
    print("not prime", num) # Numbers less than or equal to 1 are not prime

not prime 10
not prime 20
not prime 60
not prime 100
not prime 1
prime 7
prime 11

In [ ]:
from mmap import PROT_WRITE
mylist=[102,163,373,371]
for i in range(0,len(mylist)):
  num=mylist[i]
  temp=num
  total=0
  while(num>0):
   rem=num%10
   num=num//10
   total+=rem**3
  if(total!=temp):
    print("not amonstrong",temp)
  else:
    print("amongstrong",temp)

not amonstrong 102
not amonstrong 163
not amonstrong 373
amongstrong 371

In [ ]:
mylist=[10,20,60,100,1,7,11]
newlist=[]
for num in range(0,len(mylist)):
  num=mylist[i]
  count=0
  if(num%i==0):
      count+=1
  if(count>2):
   print("not prime",num)
  else:
   print("prime",num)

ZeroDivisionError: integer modulo by zero

In [ ]:
a=[10,20,30,40,50,78]
largest=a[0]
for val in a:
  if (val>largest):
    largest=val
print(val)

78

In [ ]:
mylist=[102,163,153,373]
start=0
end=len(mylist)-1
print(mylist[start],mylist[end])
a=mylist[start]   #102
mylist[start]=mylist[end]
mylist[end]=a
print(mylist)

102 373
[373, 163, 153, 102]

In [ ]:
mylist=[102,163,153,373,600]
start=0
end=len(mylist)-1
while(start<len(mylist)//2):
  a=mylist[start]   #102
  mylist[start]=mylist[end]
  mylist[end]=a
  print(mylist,start,end)
  start+=1
  end-=1

[600, 163, 153, 373, 102] 0 4
[600, 373, 153, 163, 102] 1 3

In [ ]:
mylist=[10,14,11,16,30,18,22]
start=0
end=len(mylist)-1
while(start<len(mylist)//2):
  if(mylist[start]%2==0 or mylist[end]%2==0):
    print("true")
  else:
    print("false")
  start+=1
  end-=1

true
true
true

In [ ]:
mylist=[2,3,5,8,11,16,20]
target=21
start=0
end=len(mylist)-1
while(start<len(mylist)//2):
  if(mylist[start]+mylist[end]==21):
    sum=
    print(sum)
  start+=1
  end-=1