In [13]:
#question 1
n=int(input("enter n: "))
for i in range(1,n+1):
    print(i)

enter n: 3
1
2
3

In [20]:
#question 2
n=int(input("enter n: "))
for i in range(n,0,-1):
    print(i)

enter n: 4
4
3
2
1

In [21]:
#question 3
for i in range(97,123):
    print(chr(i))

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [14]:
#question 4
a=100
for i in range(2,a+1,2):
    if(i%2==0):
     print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [15]:
#question 5
n=int(input("enter n: "))
sumodd=0
for i in range(1,n+1):
    if(i%2!=0):
     sumodd+=i
     print("sumodd",sumodd)

enter n: 5
sumodd 1
sumodd 4
sumodd 9

In [17]:
     #question 6
num=int(input("enter n: "))
count=0
for digit in str(num):
  count+=1
print("numberof digits",count)

enter n: 5
numberof digits 1

In [18]:
#question 7
num=int(input("enter n: "))
sumdigits=0
for digits in str(num):
     sumdigits+=int(digits)
     print("sum of digits :",sumdigits)

enter n: 45
sum of digits : 4
sum of digits : 9

In [ ]:
num=int(input("enter n: "))
sumdigits=0
for digits in str(num):
     sumdigits+=int(digits)
     print("sum of digits :",sumdigits)

enter n: 534653
sum of digits : 5
sum of digits : 8
sum of digits : 12
sum of digits : 18
sum of digits : 23
sum of digits : 26

In [ ]:
a=100
for i in range(2,a+1,2):
    if(i%2==0):
     print(i)

#question 5
n=int(input("enter n: "))
sumodd=0
for i in range(1,n+1):
    if(i%2!=0):
     sumodd+=i
     print("sumodd",sumodd)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
enter n: 10
sumodd 1
sumodd 4
sumodd 9
sumodd 16
sumodd 25

In [ ]:
     #question 6
num=int(input("enter n: "))
count=0
for digit in str(num):
    count+=1
    print("number of digits",count)

enter n: 336779
number of digits 1
number of digits 2
number of digits 3
number of digits 4
number of digits 5
number of digits 6

In [ ]:
n=int(input("enter n: "))
i=0
count=0
while(i<n):
  n=n//10
  count+=1
print("number of digits",count)

enter n: 4556
number of digits 4

In [ ]:
#question 8
num=int(input("enter num: "))
orignal_num=num
last_digit=num%10
while(num>=10):
    num=num//10
first_digit=num
print("first digit",first_digit)
print("last digit",last_digit)

enter num: 4356
first digit 4
last digit 6

In [ ]:
num=int(input("enter num: "))
orignal_num=num
sum_digit=0
last_digit=num%10
while(num>=10):
    num=num//10
first_digit=num
sum_digit=first_digit+last_digit
print("first digit",first_digit)
print("last digit",last_digit)
print("sum of digits",sum_digit)

enter num: 53542
first digit 5
last digit 2
sum of digits 7

In [ ]:
num=int(input("enter num: "))
exponent=int(input("enter exponent: "))
orignal_exponent=exponent
power=1
while(exponent!=0):
    power=power*num
    exponent-=1
print(f"result: {num}^{orignal_exponent}={power}")

enter num: 4
enter exponent: 5
result: 4^5=1024

In [ ]:
num=int(input("enter num: "))
orignal_num=num
reversed_num=0
while(0<num):
    digit=num%10
    reversed_num=reversed_num*10+digit
    num=num//10
print("reversed_num",reversed_num)

enter num: 546647
reversed_num 746645

In [ ]:
num=int(input("enter num: "))
print("factors of num: ")
i=1
while(i<=num):
    if(num%i==0):
        print(i)
    i+=1

enter num: 35
factors of num:
1
5
7
35

In [ ]:
num=int(input("enter num: "))
print("factorial of num is : ")
factorial=1
while(num!=0):
    factorial*=num
    print(num)
    num-=1
print(factorial)

enter num: 5
factorial of num is :
5
4
3
2
1
120

In [ ]:
a=79
count=0
while(a>63):
  if(a%2==0):
    count+=1
  a-=1

print("count",count)

count 8

In [ ]:
count=0
i=1
while(count<5):
  if(i%2==0 and i%3==0):
    count+=1
    print(i)
  i+=1

6
12
18
24
30

In [ ]:
for i in range(1,6):
    if(i==4):
        break
    print(i)
print("hello")

1
2
3
hello

In [ ]:
for i in range(1,6):
    if(i==4):
     continue
    print(i)
print("hello")

1
2
3
5
hello

In [ ]:
num=3
i=2
detective=0
while(i<num):
 if(num%i==0):
  detective=1
  break
 i+=1
 if(detective==1):
  print("loop break hence not prime")
 else:
  print("prime")

prime

In [ ]:
s="abcd"
i=0
while(i<4):
    print(i,s[i])
    i+=1

0 a
1 b
2 c
3 d

In [ ]:
s="abcdefghi"
i=0
while(i<len(s)):
    print(i,s[i])
    i+=1

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h
8 i

In [ ]:
s="abcdefghijklm"
j=len(s)-1
while(j>=0):
    print(j,s[j])
    j-=1

12 m
11 l
10 k
9 j
8 i
7 h
6 g
5 f
4 e
3 d
2 c
1 b
0 a

In [ ]:

s="abcdefghijk"
i=0
j=len(s)-1
while(i<len(s)):
    print(i ,s[i] ,s[j])
    i+=1
    j-=1

0 a k
1 b j
2 c i
3 d h
4 e g
5 f f
6 g e
7 h d
8 i c
9 j b
10 k a

In [ ]:
s="abcbd"
i=0
j=len(s)-1
while(i<len(s)):
    if(s[i] == s[j]):
        print("true" ,s[i] , s[j])
    else:
        print("false" ,s[i] , s[j])
    i+=1
    j-=1

false a d
true b b
true c c
true b b
false d a

In [ ]:
s="abcbd"
i=0
j=len(s)-1
while(i<=len(s)//2):
    if(s[i] == s[j]):
        print("true" ,s[i] , s[j])
    else:
        print("false" ,s[i] , s[j])
    i+=1
    j-=1

false a d
true b b
true c c

In [ ]:
s="abcbd"
i=0
j=len(s)-1
while(i<=j):
    if(s[i] == s[j]):
        print("true" ,s[i] , s[j])
    else:
        print("false" ,s[i] , s[j])
    i+=1
    j-=1

false a d
true b b
true c c

In [ ]:
s="saras"
i=0
j=len(s)-1
a=0
while(i<=j):
    if(s[i] != s[j]):
        a=1
        break
    print(i,s[i],s[j])
    i+=1
    j-=1
if(a==1):
        print("not a palidrom")
else:
        print("palidrom")

0 s s
1 a a
2 r r
palidrom

In [ ]:
a=2
b=15
if(a<b):
  c=a
else:
   c=b
while(True):
 if(c%a==0 and c%b==0):
  print("lcm",c)
  break
 else:
  c+=1
print(c)

lcm 30
30

In [ ]:
a=10
b=15
if(a<b):
  c=a
else:
   c=b
while(True):
 if(a%c==0 and b%c==0):
  print("hcf",c)
  break
 else:
  c-=1
print(c)

hcf 5
5

In [ ]:
for i in range(5):
    for j in range(5):
        print(f"[{i},{j}]", end=" ")
    print()

[0,0] [0,1] [0,2] [0,3] [0,4]
[1,0] [1,1] [1,2] [1,3] [1,4]
[2,0] [2,1] [2,2] [2,3] [2,4]
[3,0] [3,1] [3,2] [3,3] [3,4]
[4,0] [4,1] [4,2] [4,3] [4,4]

In [1]:

for i in range(4): #rows
    for j in range(4): #column
        print(" * ", end=" ")
    print()

 *   *   *   *
 *   *   *   *
 *   *   *   *
 *   *   *   *

In [12]:
for i in range(4): #rows
    for j in range(4): #column
        if i>=j:
         print(" * ", end=" ")
    print()

 *
 *   *
 *   *   *
 *   *   *   *

In [11]:
for i in range(4): #rows
    for j in range(4): #column
        if i<=j:
         print(" * ", end=" ")
    print()

 *   *   *   *
 *   *   *
 *   *
 *

In [5]:
for i in range(5): #rows
    for j in range(i+1): #column
         print(j, end=" ")
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [6]:

for i in range(5): #rows
    for j in range(i+1): #column
         print(f"{i}", end=" ")
    print()

0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [ ]:
for i in range(5):
    # this loop is for spaces
    for j in range(i+1):
           print(" ", end=" ")
    # this loop is for star
    for j in range(2*5-(2*i+1)):
           print("*", end=" ")
    # this loop is for spaces
    for j in range(i+1):
           print(" ", end=" ")
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [ ]:
start = int(input("Enter start: "))
end = int(input("Enter end: "))

print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1):
    if num > 1:
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            print(num)

Enter start: 2
Enter end: 100
Prime numbers between 2 and 100 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97