In [ ]:
b=500
def test():
  a=100
  b=250
  print("hey",b)
test()

hey 250

In [ ]:
def func(x):
  print("hey user",x,"welcome")
func("ishaan")    #ishaan is a argument
func("naina")

hey user ishaan welcome
hey user naina welcome

In [ ]:
def func(num):
  for i in range(1,11):
    print(f"table of {num}*{i} is: ",num*i)
func(6)

table of 6*1 is:  6
table of 6*2 is:  12
table of 6*3 is:  18
table of 6*4 is:  24
table of 6*5 is:  30
table of 6*6 is:  36
table of 6*7 is:  42
table of 6*8 is:  48
table of 6*9 is:  54
table of 6*10 is:  60

In [ ]:
def func(a,b,c):
  print(f"a:{a}, b:{b}, c:{c}")
func(1,2,3)
func(2,1,3)    #based on position data will be passed

a:1, b:2, c:3
a:2, b:1, c:3

In [ ]:
def func(a,b,c):
  print(f"a:{a}, b:{b}, c:{c}")
func(b=2,a=1,c=3)
func(a=1,c=3,b=2)

a:1, b:2, c:3
a:1, b:2, c:3

In [ ]:
def func(a,b,c=500):
  print(f"a:{a}, b:{b}, c:{c}")
func(b=2,a=1)
func(b=2,a=1,c=4)

a:1, b:2, c:500
a:1, b:2, c:4

In [ ]:
def func(* info):
  print(info ,type(info))
func("shweta","abc@gmail.com")
func("shweta",10,20,30,40)

('shweta', 'abc@gmail.com') <class 'tuple'>
('shweta', 10, 20, 30, 40) <class 'tuple'>

In [ ]:
def func(** info):
  print(info ,type(info))
func(name="shweta",email="abc@gmail.com")

{'name': 'shweta', 'email': 'abc@gmail.com'} <class 'dict'>

In [ ]:
def shadi(x):
  print("hey shadi wala amount is",x)
  return(x+200,"sarree")
  print("gold chain")  #will never return or print after return
out=shadi(100)         #out variable stores the return from function
print("out",out)

hey shadi wala amount is 100
out (300, 'sarree')

In [ ]:
def func():
  print("hello")
a=func()
a=func
print("a",a)

hello
a <function func at 0x7e0a5091c5e0>

In [ ]:
def func()

In [ ]:
a=lambda x: x+10
a(5)

15