In [ ]:
for i in range(1,5):
    for j in range(1,5):
      print("*",end=" ")
    print()

* * * *
* * * *
* * * *
* * * *

In [ ]:
for i in range(65,70):
    for j in range(65,i+1):
       print(chr(j),end=" ")
    print()

A
A B
A B C
A B C D
A B C D E

In [ ]:
for i in range(65,70):#ASCII codes for A to E
    for j in range(1,i-64+1):
       print(chr(i),end=" ")
    print()

A
B B
C C C
D D D D
E E E E E

In [ ]:
for i in range(69,64,-1):
    for j in range(69,i-1,-1):
       print(chr(j),end=" ")
    print()

E
E D
E D C
E D C B
E D C B A

In [ ]:
for i in range(1,5):
    for j in range(1,5-i):
      print(" ",end=" ")
    for j in range(1,i+1):
      print(j,end=" ")
    print()

      1
    1 2
  1 2 3
1 2 3 4

In [ ]:
for i in range(1,5):
    for j in range(1,5-i):
      print(" ",end=" ")
    for j in range(1,i+1):
      print("*",end=" ")
    print()

      *
    * *
  * * *
* * * *

In [ ]:
for i in range(1,5):
    for j in range(1,i+1):
      print(" ",end=" ")
    for j in range(1,5-i+1):
      print(j,end=" ")
    print()

  1 2 3 4
    1 2 3
      1 2
        1

In [ ]:
for i in range(69,64,-1):
    for j in range(69,i-1,-1):
      print("",end=" ")
    for j in range(69,64,-1):
      print(chr(j),end=" ")
    print()

 E D C B A
  E D C B A
   E D C B A
    E D C B A
     E D C B A

In [ ]:
for i in range(1,6):
    for j in range(1,i,-1):
      print(" ",end=" ")
    for j in range(6,j-1,-1):
      print("*",end=" ")
    print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [ ]:
for i in range(1,5):
    for j in range(1,5-i):
      print(" ",end=" ")
    for j in range(1,i+1):
      print("*",end=" ")
    for j in range(1,5-i+1):
        print("*",end=" ")
    print()

      * * * * *
    * * * * *
  * * * * *
* * * * *

In [ ]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        print("* ",end=" ")
    print()
n = 5
for i in range(n,0,-1):
    for j in range(0,i-1):
        print("* ",end=" ")
    print()

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [ ]:
n = 5
for i in range(1,n+1):
    for j in range(1,n-i+1):
        print(" ",end=" ")
    for k in range(1,i+1):
      print("*",end=" ")
    print()
n = 5
for i in range(n-1,0,-1):
    for j in range(1,n-i+1):
        print(" ",end=" ")
    for k in range(1,i+1):
      print("*",end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
for i in range(1,7):
    for j in range(1,i+1):
      if(j==1 or i==6 or i==j):
        print(j,end=" ")
      else:
        print(" ",end=" ")
    print()

1
1 2
1   3
1     4
1       5
1 2 3 4 5 6

In [ ]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(1,6):
    for j in range(1,7-i):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        if(j==1 or i==5 or i==j):
         print(j,end=" ")
        else:
         print(" ",end=" ")
    print()

1 2 3 4 5
1     4
1   3
1 2
1

In [ ]:
x=0
for i in range(1,5):
    for j in range(1,5-i):
      print("",end="  ")
    for k in range(1,i*2):
      x+=1
      print(x,end="  ")
    print()

      1
    2  3  4
  5  6  7  8  9
10  11  12  13  14  15  16

In [ ]:

n=6
for i in range(1,n):
    for j in range(1,6-i):
      print(" ",end=" ")
    for j in range(1,i*2):
      print("*",end=" ")
    print()
for i in range(n-2,0,-1):
    for j in range(1,6-i):
      print(" ",end=" ")
    for j in range(1,i*2):
      print("*",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
for i in range(1,6):
    for j in range(1,6-i):
      print(" ",end=" ")
    for j in range(1,i*2):
      print(j,end=" ")
    print()
for i in range(6-2,0,-1):
    for j in range(1,6-i):
      print(" ",end=" ")
    for j in range(1,i*2):
      print(j,end=" ")
    print()

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1

In [ ]:
n=7
for i in range(n-1,0,-1):
    for j in range(1,7-i):
      print(" ",end=" ")
    for j in range(1,i*2):
      print("*",end=" ")
    print()
for i in range(1,n):
    for j in range(1,7-i):
      print(" ",end=" ")
    for j in range(1,i*2):
      print("*",end=" ")
    print()

* * * * * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *

In [ ]:
n=6
for i in range(n-1,0,-1):
    for j in range(1,6-i):
      print(" ",end=" ")
    for j in range(1,i*2):
      print(j,end=" ")
    print()
for i in range(1,n):
    for j in range(1,6-i):
      print(" ",end=" ")
    for j in range(1,i*2):
      print(j,end=" ")
    print()

1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1
        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [ ]:
n=74
for i in range(65,n+1):
    for j in range(65,n-i):
      print(" ",end=" ")
    for j in range(7,i-1):
      print(chr(j),end=" ")
    print()

In [ ]:

n=7
for i in range(1,n+1):
    for j in range(1,2*n):
      if(j==n-i+1 or j==n+i-1):
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()
for i in range(n-1,0,-1):
    for j in range(1,2*n):
      if(j==n-i+1 or j==n+i-1):
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()

            *
          *   *
        *       *
      *           *
    *               *
  *                   *
*                       *
  *                   *
    *               *
      *           *
        *       *
          *   *
            *

In [ ]:
n=7
for i in range(1,n+1):
    for j in range(1,2*n):
      if(j==n-i+1 or j==n+i-1):
        print(i,end=" ")
      else:
        print(" ",end=" ")
    print()
for i in range(n-1,0,-1):
    for j in range(1,2*n):
      if(j==n-i+1 or j==n+i-1):
        print(i,end=" ")
      else:
        print(" ",end=" ")
    print()

            1
          2   2
        3       3
      4           4
    5               5
  6                   6
7                       7
  6                   6
    5               5
      4           4
        3       3
          2   2
            1

In [ ]:
n=6
for i in range(1,n+1):
    for j in range(1,i+1):
      print("*",end="")
    for j in range(1,7-i):
      print(" ",end=" ")
    for j in range(1,i+1):
      print("*",end="")
    for j in range(1,n-i+1):
      print(" ",end="")
    print()
for i in range(n-1,0,-1):
    for j in range(1,i+1):
      print("*",end="")
    for j in range(1,7-i):
      print(" ",end=" ")
    for j in range(1,i+1):
      print("*",end="")
    for j in range(1,n-i+1):
      print(" ",end="")
    print()

*          *
**        **
***      ***
****    ****
*****  *****
************
*****  *****
****    ****
***      ***
**        **
*          *

In [ ]:
n=6
for i in range(n,0,-1):
    for j in range(1,i+1):
      print("*",end="")
    for j in range(1,7-i):
      print(" ",end=" ")
    for j in range(1,i+1):
      print("*",end="")
    for j in range(1,n-i+1):
      print(" ",end="")
    print()

for i in range(1,n+1):
    for j in range(1,i+1):
      print("*",end="")
    for j in range(1,7-i):
      print(" ",end=" ")
    for j in range(1,i+1):
      print("*",end="")
    for j in range(1,n-i+1):
      print(" ",end="")
    print()

************
*****  *****
****    ****
***      ***
**        **
*          *
*          *
**        **
***      ***
****    ****
*****  *****
************

In [ ]:
n=5
for i in range(n-1,0,-1):
    for j in range(1,i*2):
      print("*",end="")
    for j in range(1,6-i):
      print(" ",end="")
    print()
for i in range(1,n):
    for j in range(1,i*2):
      print("*",end="")
    for j in range(1,5-i):
      print(" ",end="")
    print()

*******
*****
***
*
*
***
*****
*******

In [ ]:
for i in range(1,5+1):
    for j in range(5,0,-1):
      if(i==j or i==5):
        print(" ",end=" ")
      else:
        print("*",end=" ")
    for j in range(2,5+1):
        if(i==j or i==5):
         print(" ",end=" ")
        else:
         print("*",end=" ")
    print()

* * * *   * * * *
* * *   *   * * *
* *   * * *   * *
*   * * * * *   *

In [ ]:
for i in range(1,6):
    for j in range(1,6-i+1):
        print("*",end=" ")
    print()
for k in range(1,i+1):
      print("*",end=" ")
print()
for i in range(6,0):
    for j in range(1,6-i):
        print("*",end=" ")
    print()
for k in range(6,i-1):
      print("*",end=" ")
print()

* * * * *
* * * *
* * *
* *
*
* * * * *

In [ ]:
n=4
for i in range(n,0,-1):
  print(" *" * i)
for i in range(1,5):
  print(" *" * i)

 * * * *
 * * *
 * *
 *
 *
 * *
 * * *
 * * * *

In [ ]:
n=5
for i in range(1,6):
    for j in range(1,6-i):
      print(" ",end="")
    for k in range(1,i+1):
       print(k,end=" ")
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(1,5):
    for j in range(1,5):
      if(i==1 or i==4 or j==1 or j==4):
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()

* * * *
*     *
*     *
* * * *

In [ ]:
for i in range(1,5):
    for j in range(1,5):
      if(i==1 or i==4 or j==1 or j==4):
        print(j,end=" ")
      else:
        print(" ",end=" ")
    print()

1 2 3 4
1     4
1     4
1 2 3 4

In [ ]:
for i in range(1,5):
  a='A'
  for j in range(1,5):
      if(i==1 or i==4 or j==1 or j==4):
        print(a,end=" ")
      else:
        print(" ",end=" ")
      a=chr(ord(a)+1)
  print()

A B C D
A     D
A     D
A B C D

In [ ]:
for i in range(1,5):
  a='A'
  for j in range(1,5):
        print(a,end=" ")
        a=chr(ord(a)+1)
  print()

A B C D
A B C D
A B C D
A B C D

In [ ]:
n=6
for i in range(1,n-1):
    for j in range(1,6-i):
      print("*",end=" ")
    for j in range(1,i*2):
      print(" ",end=" ")
    print()
for i in range(n-2,0,-1):
    for j in range(1,6-i):
      print("*",end=" ")
    for j in range(1,i*2):
      print(" ",end=" ")
    print()

* * * *
* * *
* *
*
*
* *
* * *
* * * *

In [ ]:
for i in range(4,0,-1):
    for j in range(4,i-1,-1):
      print("",end=" ")
    for j in range(4,0,-1):
      print(j,end=" ")
    print()

 4 3 2 1
  4 3 2 1
   4 3 2 1
    4 3 2 1

In [ ]:
for i in range(1,9):
    for j in range(1,9):
      print("*",end=" ")
    for j in range(1,6-i):
        print(" ",end=" ")
    print()
n=7
for i in range(1,n+1):
    for j in range(1,2*n):
      if(j==n-i+1 or j==n+i-1):
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()
for i in range(n-1,0,-1):
    for j in range(1,2*n):
      if(j==n-i+1 or j==n+i-1):
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()

* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
            *
          *   *
        *       *
      *           *
    *               *
  *                   *
*                       *
  *                   *
    *               *
      *           *
        *       *
          *   *
            *

In [ ]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
for i in range(1,6):
  for j in range(1,6-i):
    print(" ",end=" ")
  for k in range(1,i+1):
    print("*",end=" ")
  print()

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
n=6
for i in range(n,0,-1):
    for j in range(1,i+1):
      print("*",end="")
    for j in range(1,7-i):
      print(" ",end=" ")
    for j in range(1,i+1):
      print("*",end="")
    for j in range(1,n-i+1):
      print(" ",end="")
    print()

for i in range(1,n+1):
      print("*",end="")
for j in range(1,i+1):
      print("*",end="")

************
*****  *****
****    ****
***      ***
**        **
*          *
************

In [ ]:

n=7
for i in range(1,n+1):
    for j in range(1,2*n):
      if(j==n-i+1 or j==n+i-1 or i==7):
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()

            *
          *   *
        *       *
      *           *
    *               *
  *                   *
* * * * * * * * * * * * *

In [ ]:
n=5
for i in range(1,6):
    for j in range(1,6-i):
      print(" ",end="")
    for k in range(1,i+1):
       print("*",end=" ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *