In [ ]:
n=int(input("enter n :"))
if(n%2==0):
 print("even")
else:
  print("odd")

enter n :14
even

In [ ]:
a=10
b=20
c=30
if(a>b and a>c):
  greatest = a
elif(b>a and b>c):
  greatest=b
else:
  greatest =c
  print("greatest number",greatest)

greatest number 30

In [ ]:
x=int(input("enter x "))
if(x%4==0 and x%100!=0 or x%400==0):
 print("leap year")
else:
  print("not leap year")

enter x 1900
not leap year

In [ ]:
x=int(input("enter x "))
if(x>=90):
  print("grade A")
elif(x>=80):
  print("grade B")
elif(x>=70):
  print("grade C")
elif(x>=60):
  print("grade D")
else:
  print("grade F")

enter x 60
grade D

In [ ]:
n=input("enter n :")
if(n in "aeiou"):
  print("vowel")
else:
  print("consonant")

enter n :a
vowel

In [ ]:
x=int(input("enter x "))
if(x<=1):
  print("Infant")
elif(x<=4):
  print("Todler")
elif(x<=12):
  print("Child")
elif(x<=19):
  print("Teenager")
elif(x<=59):
  print("Adult")
else:
  print("senior")

enter x 75
senior

In [ ]:
username=input("enter username ")
password=input("enter password ")
if(username=="admin" and password=="1234"):
    print("login successfull")
else:
  print("login failed")

enter username admin
enter password 1234
login successfull

In [ ]:
num1=float(input("enter num1: "))
operator=input("enter operator(+,-,*,/): ")
num2=float(input("enter num2: "))
if(operator=="+"):
  result=num1+num2
  print("result",result)

elif(operator=="-"):
  result=num1-num2
  print("result",result)

elif(operator=="*"):
  result=num1*num2
  print("result",result)

elif(operator=="/"):
  result=num1/num2
  print("result",result)

else:
  print("invalid operator")

enter num1: 34
enter operator(+,-,*,/): /
enter num2: 34
result 1.0

In [ ]:
a=int(input("enter a: "))
b=int(input("enter b: "))
c=int(input("enter c: "))
if(a+b>c and b+c>a and a+c>b):
  print("tringle is valid")
else:
  print("tringle is not valid")

enter a: 1
enter b: 32
enter c: 14
tringle is not valid

In [ ]:
x=int(input("enter x: "))
if(x>=1000):
  print("discount is 10%")
elif(1000>=x>=500):
  print("discount is 5%")
else:
  print("no discount")

enter x: 200
no discount

In [ ]:
weight=float(input("enter wieght(in kilogram): ")) #kilogram
height=float(input("enter height(meter): ")) #meter
BMI = weight / (height ** 2)
if(BMI < 18.5):
  print("Underweight")
elif(18.5 <= BMI < 24.9):
  print("Normal weight")
elif(25 <= BMI < 29.9):
  print("over weight")
elif(BMI >= 30):
  print("Obesity")

enter wieght(in kilogram): 75
enter height(meter): 1.4
Obesity

In [ ]:
x=int(input("enter x: "))
days=["monday","tuesday","wednesday","thrusday","friday","saturday","sunday"]
if(1<=x<=7):
 print("day of the weak: ",days[x-1])
else:
  print("input invalid")

enter x: 6
day of the weak:  saturday

In [ ]:
x=int(input("enter x: "))
if(x>0):
  print("positive")
elif(x==0):
  print("zero")
else:
  print("negative")

enter x: -12
negative

In [ ]:
x=int(input("enter x: "))
year=["january","february","march","april","may","june","july","august","september","october","november","december"]
if(1<=x<=13):
 print("month of the year: ",year[x-1])
else:
  print("input invalid")

enter x: 12
month of the year:  december

In [ ]:
balance=1000
x=input("enter your choice: ")
if(x=="1"):
  print("your current balance is:",balance)
else:
  if(x=="2"):
   amount=int(input("enter your deposite amount:"))
   if(amount>0):
    balance+=amount
    print("new balance is",balance)
   else:
    print("enter your valid amount")
  else:
    if(x=="3"):
     amount=int(input("enter your withdraw money:"))
     if(amount>0):
      if(balance>=amount):
       balance-=amount
       print("new balance is",balance)
      else:
        print("not enough balance")
     else:
      print("enter your valid amount")
    else:
     print("invalid choice")

enter your choice: 4
invalid choice